<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="mobile-container">
      <!-- Header -->
      <header><%- include('partials/header') %></header>

      <ul id="messages" style="word-wrap: break-word"></ul>
      <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Stuur</button>
      </form>

      <!-- Footer -->
      <footer><%- include('partials/footer') %></footer>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/script.js"></script>
    </div>
  </body>
</html>
