<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="mobile-container">
      <header><%- include('partials/header') %></header>
      <h1>Welkom</h1>
      <footer><%- include('partials/footer') %></footer>
    </div>
  </body>
</html>
