<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <div class="mobile-container">
      <!-- Header -->
      <header>
        <ul>
          <li class="header__title">
            <a href="/">Intern <span>Match</span></a>
          </li>
        </ul>
      </header>

      <h1 class="likes__header">Inloggen</h1>
      <form action="/login" method="POST" class="create_form">
        <label for="name">Naam:</label>
        <input type="text" name="name" id="name" placeholder="Naam" />
        <br>
        <label for="password">Wachtwoord:</label>
        <input type="password" name="password" id="password" placeholder="Wachtwoord" />
        <p> <%- status %> </p>
        <button type="submit">Login</button>
        <a class="register_link" href="users/create"> Registreren </a>
      </form>

    </div>
  </body>
</html>
