<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <div class="mobile-container">
      <!-- Header -->
      <header>
        <ul>
          <li class="header__title">
            <a href="/">Intern <span>Match</span></a>
          </li>
        </ul>
      </header>

      <h1 class="likes__header">Inloggen</h1>
      <form action="/login" method="POST" class="create_form">
        <input type="text" name="name" placeholder="Naam" />
        <input type="password" name="password" placeholder="Wachtwoord" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
