<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="mobile-container">
      <header><%- include('partials/header') %></header>
      <form action="/logout" method="POST">
        <button type="submit">Verzend</button>
      </form>
      <footer><%- include('partials/footer') %></footer>
    </div>
  </body>
</html>
