<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
  <div class="mobile-container">
    <!-- Header -->
    <header><%- include('partials/header') %></header>

    <h1 class="likes__row">Helaas is er niemand om mee te matchen...</h1>

    <!-- Footer -->
    <footer><%- include('partials/footer') %></footer>
  </div>

  </body>
</html>
