<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <!-- Header -->
    <header><%- include('partials/header') %></header>

    <h1>Helaas is er niemand om mee te matchen...</h1>

    <!-- Footer -->
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
