<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="mobile-container">
      <header><%- include('partials/header') %></header>
      <h1 class="likes__header">Maak een account</h1>
      <form action="/users" method="POST" enctype="multipart/form-data" class="create_form test">

        <label for="name">Naam</label>
        <input  type="text" name="name" id="name" placeholder="Naam" />
<br>
        <label for="wachtwoord">wachtwoord</label>
        <input type="password" name="wachtwoord" id="wachtwoord" placeholder="Wachtwoord" />

        <div class="radio_div">
          <input type="radio" id="student" name="accountType" value="student">
          <label for="student">Student</label>
          <input type="radio" id="company" name="accountType" value="company">
          <label for="company">Bedrijf</label><br>
        </div>

        <label for="study">Bezigheid</label>
        <input type="text" name="study" id="study" placeholder="Naam studie/bedrijf" />
<br>
        <label for="message">Bericht</label>
        <input type="text" name="message" id="message" placeholder="Bericht" />
<br>
        <label for="intrests">Intresses</label>
        <input type="text" name="interests" id="intrests" placeholder="Intresses" />
<br>
        <label for="age">Leeftijd</label>
        <input type="number" name="age" id="age" placeholder="Leeftijd" />
        <input type="hidden" name="status" id="status" value="?" /><br><br>
        <label for="upload">Profielfoto uploaden</label>
        <input type="file" id="upload" name="avatar" />
<br>
        <button type="submit">Verzend</button>
      </form>
    </div>
  </body>
</html>
