<a href="/users" class="footer__icon footer__cards">
  <i class="far fa-clone"></i>
</a>
<a href="/chat" class="footer__icon footer__chat">
  <i class="far fa-comment-alt"></i>
</a>
<a href="/users/account" class="footer__icon footer__account">
  <i class="far fa-user"></i>
</a>
