<ul>
  <li>
    <a href="/users/likes" class="header__heart">
      <i class="fas fa-heart"></i>
    </a>
  </li>
  <li class="header__title">
    <a href="/">Intern <span>Match</span></a>
  </li>
  <li>
    <a href="/logout" class="header__settings">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </li>
</ul>
